.foodList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column
}

section {
    border: 1px solid indianred;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 11px;
    margin-top: 10px;
}